{% liquid
  assign image = section.settings.image
  assign image_mobile = section.settings.image_mobile
  assign image_logo = section.settings.image_logo
  assign title = section.settings.title | default: shop.name
  assign enable_email_submit = section.settings.enable_email_submit
  assign description = section.settings.description | default: shop.description
  assign content_class = 'absolute m-auto top-0 left-0 right-0 bottom-0 flex justify-center p-6'
%}

{%- capture hero_content -%}
  <div class="flex flex-col justify-center items-center md-max:px-6 w-full">
    {%- if image_logo != blank -%}
      {%- render 'image',
        image: image_logo,
        class: 'w-[157px] sm:w-[244px] mb-8',
        mobile_width: 244,
        sm_width: 328,
        alt: title
      -%}
    {%- endif -%}
    <div class="flex flex-col p-6 md:p-12 w-full rounded-[10px] md:max-w-[472px] bg-white border-default">
      <div class="text-center">
        {%- if title != blank -%}
          <h2 class="h4 lg:h3">{{- title -}}</h2>
        {%- endif -%}
        {%- if description != blank -%}
          <div class="text-base tracking-normal mt-3 wysiwyg wysiwyg--password">{{- description -}}</div>
        {%- endif -%}
      </div>
      {%- if enable_email_submit -%}
        <validate-form>
          {% form 'customer', class: 'newsletter-form relative flex flex-col items-start mt-6' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="flex flex-col w-full justify-between lg:flex-row">
              {%- render 'text-input',
                type: 'email',
                name: 'contact[email]',
                id: 'NewsletterForm',
                label: "Email address",
                placeholder: "Email address",
                show_label: true,
                class: 'w-full flex-1'
              -%}
              <button name="commit" type="submit" id="Subscribe" class="mt-4 button-primary md-max:w-full md:ml-4 md:mt-0">{{- 'customer.password.submit' | t -}}</button>
            </div>
            {%- if form.errors -%}
              {%- capture content_error -%}
                <span>{{- 'customer.password.email_error' | t -}}</span>
              {%- endcapture -%}
              {%- render 'notice-main',
                class: "mt-2 bg-transparent",
                content: content_error,
                type: 'error'
              -%}
            {%- endif -%}
            {%- if form.posted_successfully? -%}
              <span class="form__message w-full" id="ContactFooter-success" autofocus>
                {%- capture content_success -%}
                  <p>{{- 'general.newsletter.thank_you_signing_up' | t -}}</p>
                {%- endcapture -%}
                {%- render 'notice-main', class: "mt-2 bg-transparent", content: content_success, type: 'success' -%}
              </span>
              {%- else -%}
                {%- if form.email != blank -%}
                  {%- capture content_error -%}
                    <span>This email is already subscribed</span>
                  {%- endcapture -%}
                  {%- render 'notice-main',
                    class: "mt-2 bg-transparent",
                    content: content_error,
                    type: 'error'
                  -%}
                {%- endif -%}
            {%- endif -%}
          {% endform %}
        </validate-form>
      {%- endif -%}
    </div>
    <button id="password-form-enter" type="button" class="link text-grey-700 absolute bottom-8 md:bottom-auto md:right-6 normal-case md:top-6 md:mt-0 z-10 js-modal-dialog-trigger">{{- 'customer.password.enter_using_password' | t -}}</button>
  </div>
{%- endcapture -%}

{%- if image != blank or image_mobile -%}
  {%- render 'hero', class: 'block fit', image: image, image_mobile: image_mobile, content: hero_content, content_class: content_class -%}
{%- else -%}
  <div class="fit absolute flex items-center justify-center bg-grey-100">
    {{ hero_content }}
  </div>
{%- endif -%}

<modal-dialog data-target="password-form-enter" data-type="modal" class="bg-grey-100">
  <div class="modal-dialog-content js-content-modal-dialog fit flex flex-col items-center justify-center overflow-visible bg-transparent md-max:px-6 lg:w-full">
    <div class="relative">
      {%- if image_logo != blank -%}
        {%- render 'image', image: image_logo, class: 'w-[157px] sm:w-[244px] mb-8', mobile_width: 244, sm_width: 328 -%}
      {%- endif -%}
    </div>
    <div class="relative mx-auto w-full w-[calc(100%-48px)] rounded-[10px] bg-white p-6 md:p-12 md:max-w-[472px]">
      <div class="text-center">
        <h1 class="h4 lg:h3">Store password</h1>
        <button
          type="button"
          class="mt-2 text-base underline normal-case js-close-modal-dialog link underline-offset-4 text-grey-900"
          aria-label="close modal"
        >
          Go back
        </button>
      </div>
      <validate-form>
        {%- form 'storefront_password', class: 'relative flex flex-col items-start md:flex-row mt-6' -%}
          <div class="w-full flex-auto md:w-auto">
            {%-
              render 'text-input',
              type: 'password',
              name: 'password',
              id: 'Password',
              label: "Password",
              placeholder: "Password",
              show_label: true,
              class_input: '!bg-white'
            -%}
            {%- if form.errors -%}
              <div role="status">
                <span class="input-error pt-1.5">Password incorrect, please try again.</span>
              </div>
            {%- endif -%}
          </div>
          <button name="commit" type="submit" class="mt-4 button-primary md-max:w-full md:ml-4 md:mt-0">Enter</button>
        {%- endform -%}
      </validate-form>
    </div>
  </div>
  <button
    type="button"
    class="js-close-modal-dialog link absolute bottom-8 normal-case text-grey-900 lg:absolute lg:top-6 lg:right-6 lg:h-fit lg:w-fit"
    aria-label="close modal"
  >
    Back to first screen
  </button>
</modal-dialog>

{% schema %}
{
  "name": "Password Signup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p></p>"
    },
    {
      "type": "image_picker",
      "id": "image_logo",
      "label": "Image logo"
    }
  ],
  "presets": [
    {
      "name": "Password Signup",
      "category": "Password"
    }
  ]
}
{% endschema %}
