{%- assign banner_class = "block relative w-full lg:w-1/2 aspect-[344/231] lg:aspect-[640/430] overflow-hidden rounded-tr-3xl lg:rounded-tr-[40px]" -%}

<div class="container">
  <div class="flex flex-col-reverse justify-center items-center bg-accent-3 rounded-tr-3xl rounded-bl-3xl lg:flex-row lg:rounded-tr-[40px] lg:rounded-bl-[40px]">
    {%- if section.settings.title != blank or section.settings.description != blank or section.settings.cta_text != blank -%}
      <div class="flex flex-col w-full pb-[22px] px-6 pt-6 lg:p-0 lg:w-1/2 text-white">
        <div class="w-full lg:max-w-[364px] lg:ml-14">
          {%- if section.settings.title != blank -%}
            <h2 class="text-xl font-bold font-body text-white lg:text-3xl">{{- section.settings.title -}}</h2>
          {%- endif -%}
          {%- if section.settings.description != blank -%}
            <div class="py-3 text-sm font-semibold lg:py-5">{{- section.settings.description -}}</div>
          {%- endif -%}
          {%- if section.settings.cta_text != blank -%}
            {%- render 'button',
              class: 'text-sm font-body font-bold text-white hover:text-primary',
              link_text: section.settings.cta_text,
              link_url: section.settings.cta_link
            -%}
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
    {%- if section.settings.cta_link != blank -%}
      <a href="{{- section.settings.cta_link -}}" class="{{ banner_class }}" aria-label="two up banner">
    {%- else -%}
      <div class="{{ banner_class }}">
    {%- endif -%}
      {% render 'image',
        image: section.settings.image,
        class: 'fit object-cover object-center mx-auto hover:zoom transition',
        mobile_width: 414
      %}
    {%- if section.settings.cta_link != blank -%}
      </a>
    {%- else -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Two up Banner",
  "class": "bg-grey-100",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Text"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA Link"
    }
  ],
  "presets": [
    {
      "name": "Two up Banner"
    }
  ]
}
{% endschema %}
