{{- 'section-account-ndis.css' | asset_url | stylesheet_tag -}}

{%- liquid
  assign empty_content = empty_content | default: nil
-%}
<div class="hidden">
  <form data-cf-form="{{- settings.form_ndis_plan_managed -}}"></form>
  <form data-cf-form="{{- settings.form_ndis_self_managed -}}"></form>
  <form data-cf-form="{{- settings.form_agency_plan_managed -}}"></form>
</div>

{%- if settings.user_image != blank or settings.user_info != blank -%}
  <div class="flex flex-col lg:flex-row justify-between items-center w-full bg-white lg:pl-6 lg:py-6 lg:pr-8 rounded-[10px] border border-default shadow-base mb-5 md:mb-8">
    <div class="flex items-center lg-max:w-full lg-max:p-5">
      {%- if settings.user_image != blank -%}
        <div class="w-full max-w-[60px] aspect-1 lg:max-w-[80px]">
          {%- render 'image', image: settings.user_image, class: 'w-[60px] h-[60px] lg:w-20 lg:h-20' -%}
        </div>
      {%- endif -%}
      {%- if settings.user_info != blank or settings.user_email != blank -%}
        <div class="ml-3.5 w-full md-max:max-w-[230px] lg:ml-5">
          {%- if settings.user_info != blank -%}
            <h4 class="w-full text-base font-body font-bold text-grey-900 md-max:max-w-[200px]">{{- settings.user_info -}}</h4>
          {%- endif -%}
          {%- if settings.user_email != blank -%}
            <div class="pt-0.5 lg:pt-1 link text-med lg:text-sm normal-case">{{- settings.user_email -}}</div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
    {%- if settings.user_button_first != blank -%}
      <div class="flex items-center justify-end w-full lg:gap-6 lg-max:border-t lg-max:border-default lg:flex-1">
        <div class="!flex justify-center items-center w-full h-full !min-h-[56px] border-r border-default lg-max:py-[13px] lg:max-w-[203px] lg:button-outlined ">
          {%- render 'icon' with 'icon-phone', class: 'w-5 h-5 mr-2 text-success-content' -%}
          <div class="font-semibold">{{- settings.user_button_first -}}</div>
        </div>
        {%- if settings.user_button_second != blank -%}
          <div class="!flex justify-center items-center w-full h-full !min-h-[56px] lg-max:py-[14px] lg:max-w-[203px] lg:button-outlined">
            {%- render 'icon' with 'icon-chatbox', class: 'w-5 h-5 mr-2 text-success-content' -%}
            <div class="font-semibold">{{- settings.user_button_second -}}</div>
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
{%- endif -%}

<account-ndis logo="{{ settings.account_ndis_logo | image_url }}" add="{{ settings.account_ndis_add_title }}" edit="{{ settings.account_ndis_edit_title }}" plan="{{ plan_manager | escape }}" type="{{ customer.metafields.customer_fields.ndis_type }}"></account-ndis>

<div class="flex flex-col w-full gap-5 xl:gap-12 lg:flex-row">
  <div class="flex-1 w-full bg-white rounded-[10px] border border-default shadow-base px-4 py-5 lg:p-8">
    {%- if title != blank -%}
      <h2 class="text-lg font-bold lg:text-xl font-body text-grey-900 lg-max:border-b lg-max:border-default lg-max:pb-2">{{- title -}}</h2>
    {%- endif -%}
    {%- if customer.orders == blank -%}
      <div class="px-8 py-24 mb-12 text-center wysiwyg">
        {{- empty_content -}}
      </div>
    {%- else -%}
      {%- paginate customer.orders by 8 -%}
        <div class="overflow-hidden lg:mt-4">
          <div class="flex text-sm font-bold text-grey-900 lg-max:hidden ">
            {%- assign class_header = "pb-4" -%}
            <div class="{{ class_header }} w-[calc(95/868*100%)]">{{- 'customer.orders.order_number' | t -}}</div>
            <div class="{{ class_header }} w-[calc(130/868*100%)]">{{- 'customer.orders.date' | t -}}</div>
            <div class="{{ class_header }} w-[calc(180/868*100%)]">{{- 'customer.orders.payment_status' | t -}}</div>
            <div class="{{ class_header }} w-[calc(158/868*100%)]">{{- 'customer.orders.delivery_status' | t -}}</div>
            <div class="{{ class_header }} w-[calc(157/868*100%)]">{{- 'customer.orders.tracking_number' | t -}}</div>
            <div class="{{ class_header }} w-[calc(104/868*100%)]">{{- 'customer.orders.total' | t -}}</div>
            <div class="{{ class_header }} w-[calc(48/868*100%)]"></div>
          </div>
          <div class="lg:border-t lg:border-default">
            {%- for order in customer.orders -%}
              {%- liquid
                assign tracking_number = ''
                assign tracking_url = ''
                for _line_item in order.line_items
                  if _line_item.fulfillment
                    assign tracking_number = _line_item.fulfillment.tracking_number
                    assign tracking_url = _line_item.fulfillment.tracking_url
                    break
                  endif
                endfor

                assign invoid_url = ''
              -%}

              <div class="flex w-full border-b lg-max:flex-col lg:flex-row lg:items-center lg-max:border-default lg-max:first:pt-1 last:border-none lg-max:pb-4 lg-max:last:pb-0 lg:py-5 last:lg:pb-0">
                {%- liquid
                  assign class_item = "flex justify-between gap-x-6 text-sm text-link lg-max:pb-2 lg-max:last:pb-0"
                  assign class_label_mobile = 'w-[calc(50%-12px)] font-bold text-sm text-grey-900 lg:hidden'

                  assign mod_invoid = order.metafields.dear.attachments.value
                  for invoid in mod_invoid
                    assign invoid_url = invoid.url
                  endfor
                -%}
                <div class="lg-max:pt-4 lg:w-[calc(95/868*100%)] !pl-0 {{ class_item }} ">
                  <span class="{{ class_label_mobile }}">{{ 'customer.orders.order_number' | t }}</span>
                  <a href="{{- order.customer_url -}}" class="underline link lg-max:max-w-[calc(50%-12px)] w-full">#{{- order.order_number -}}</a>
                </div>
                <div class="lg:w-[calc(140/868*100%)] {{ class_item }} ">
                  <span class="{{ class_label_mobile }}">{{- 'customer.orders.date' | t -}}</span>
                  <span class="lg-max:max-w-[calc(50%-12px)] w-full">{{- order.created_at | date: '%b %d, %Y' -}}</span>
                </div>
                <div class="lg:w-[calc(180/868*100%)] {{ class_item }}">
                  <span class="{{ class_label_mobile }}">{{- 'customer.orders.payment_status' | t -}}</span>
                  <span class="lg-max:max-w-[calc(50%-12px)] w-full">{{- order.financial_status_label -}}</span>
                </div>
                <div class="lg:w-[calc(161/868*100%)] {{ class_item }} ">
                  <span class="{{ class_label_mobile }}">{{- 'customer.orders.fulfillment_status' | t -}}</span>
                  {%- if order.fulfillment_status_label == 'Fulfilled' -%}
                    <span class="lg-max:max-w-[calc(50%-12px)] w-full">Delivered</span>
                    {%- else -%}
                      <span class="lg-max:max-w-[calc(50%-12px)] w-full"></span>
                  {%- endif -%}

                </div>
                <div class="lg:w-[calc(162/868*100%)] {{ class_item }} ">
                  <span class="{{ class_label_mobile }}">{{- 'customer.orders.tracking_number' | t -}}</span>
                  {%- if tracking_url != '' -%}
                    <a class="underline link lg-max:max-w-[calc(50%-12px)] w-full truncate pr-2" href="{{ tracking_url }}" target="_blank">
                  {%- endif -%}
                    {%- if tracking_number != '' -%}
                      {{ tracking_number }}
                    {%- endif -%}
                  {%- if tracking_url != '' -%}
                    </a>
                  {%- endif -%}
                </div>
                <div class="lg:w-[calc(104/868*100%)] {{ class_item }} ">
                  <span class="{{ class_label_mobile }}">{{- 'customer.orders.total' | t -}}</span>
                  <span class="lg-max:max-w-[calc(50%-12px)] w-full">{{- order.total_price | money -}}</span>
                </div>
                {%- if invoid_url != blank -%}
                  <a href="{{- invoid_url -}}" class="lg:w-[calc(63/868*100%)] !pr-0 lg:text-right link text-secondary hover:text-primary {{ class_item }} ">
                    <span class="{{ class_label_mobile }}"></span>
                    <span class="lg-max:max-w-[calc(50%-12px)] w-full">{{- 'customer.order.print' | t -}}</span>
                  </a>
                {%- else -%}
                  <div class="lg:w-[calc(63/868*100%)] !pr-0 lg:text-right link text-secondary hover:text-primary {{ class_item }} "></div>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>
        </div>
        {% render 'pagination', pagination: paginate, class: 'pt-6 lg-max:border-t lg-max:border-default lg-max:pb-5 lg:pt-8' %}
      {%- endpaginate -%}
    {%- endif -%}
  </div>
  <div class="flex flex-col gap-4 px-4 py-5 w-full h-full lg:max-w-[250px] xl:max-w-[300px] bg-white lg:p-6 rounded-[10px] border border-default shadow-base">
    {%- if customer.default_address != blank -%}
      <h2 class="text-lg font-bold capitalize font-body text-grey-900">{{- 'customer.order.shipping_address' | t -}}</h2>
      <div class="text-sm text-grey-600">
        {%- assign address = customer.default_address -%}
        <p>{{- address.name -}}</p>
        <p>{{- address.company -}}</p>
        <p>{{- address.address1 -}}</p>
        <p>
          {{- address.city -}}
          {%- if address.province_code != blank -%}
            ,&nbsp{{- address.province_code -}}
          {%- endif -%}
          {%- if address.zip != blank -%}
            &nbsp{{- address.zip -}}
          {%- endif -%}
        </p>
        <p>{{- address.country -}}</p>
      </div>
      <h2 class="text-lg font-bold capitalize font-body text-grey-900">{{- 'customer.order.billing_address' | t -}}</h2>
      <div class="text-sm text-grey-600">
        {%- assign address = customer.default_address -%}
        <p>{{- address.name -}}</p>
        <p>{{- address.company -}}</p>
        <p>{{- address.address1 -}}</p>
        <p>
          {{- address.city -}}
          {%- if address.province_code != blank -%}
            ,&nbsp{{- address.province_code -}}
          {%- endif -%}
          {%- if address.zip != blank -%}
            &nbsp{{- address.zip -}}
          {%- endif -%}
        </p>
        <p>{{- address.country -}}</p>
      </div>
    {%- endif -%}
    <a class="normal-case link text-grey-600" href="{{- routes.account_addresses_url -}}">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
  </div>
</div>

{%- capture src_url -%}
  {{- 'section-account-ndis.js' | asset_url -}}
{%- endcapture -%}
{%- render 'atom_script', src: src_url, priority: 'normal', type: 'defer' -%}
